<form [formGroup]="gameDetails" (ngSubmit)="onSubmit()" class="flex justify-center items-center flex-col w-full overflow-scroll py-3">
  <mat-form-field appearance="outline">
    <mat-label>Enter name for your server</mat-label>
    <input matInput placeholder="Server name" formControlName="gameId" required>
  </mat-form-field>
  <ng-container container formArrayName="texts">
    <ng-container *ngFor="let textForm of texts.controls; let i=index" [formGroupName]="i">
        <mat-form-field appearance="outline">
          <input matInput placeholder="text" formControlName="value" required>
        </mat-form-field>
    </ng-container>
  </ng-container>
  <mat-form-field appearance="outline">
    <mat-label>Set your nickname</mat-label>
    <input matInput placeholder="Nickname" formControlName="playerName" required>
  </mat-form-field>
  <button mat-flat-button type="submit" color="primary" [disabled]="!gameDetails.valid">CREATE</button>
</form>
